.top-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.top-btn.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
